name: Deploy to Tencent Cloud

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy to Tencent Cloud DevOps
        env:
          SERVER_USER: ${{ secrets.SERVER_USER }}
          SERVER_PASSWORD: ${{ secrets.SERVER_PASSWORD }}
          SERVER_IP: ${{ secrets.SERVER_IP }}
          SERVER_PORT: ${{ secrets.SERVER_PORT }}
          REMOTE_DIR: ${{ secrets.REMOTE_DIR_DEVOPS }}
        run: |
          sudo apt-get update
          sudo apt-get install -y sshpass
          echo "===== 环境变量列表 ====="
          echo "===== 调试输出 ====="
          echo "SERVER_PORT: '$SERVER_PORT'"
          echo "SERVER_USER: '$SERVER_USER'"
          echo "SERVER_IP: '$SERVER_IP'"
          echo "REMOTE_DIR: '$REMOTE_DIR'"
          sshpass -p "$SERVER_PASSWORD" scp -o StrictHostKeyChecking=no -r -P "$SERVER_PORT" dist/* "$SERVER_USER@$SERVER_IP:$REMOTE_DIR"
          sshpass -p "$SERVER_PASSWORD" ssh -o StrictHostKeyChecking=no -p "$SERVER_PORT" "$SERVER_USER@$SERVER_IP" "cd $REMOTE_DIR"
